<div class='curate__steps'>
	<div class='step' data-step='intro'>
		<p class="step__prose">Lorem ipsum dolor sit amet, cu quo accusamus neglegentur, partem accusam mea an. Ad sed adhuc ponderum, ea mei alienum lobortis voluptatibus. Ei nam persius omnesque accusata, has an tritani invidunt oportere. Ad vituperata complectitur sed, at vix tollit appellantur, cum et mollis ponderum dissentiet. Soleat dolorum mei ad, placerat definiebas ut sed.
		</p>
	</div>
	<div class='step' data-step='nav'>
		<p class='step__hed'>{{{doc.curate.intro}}}</p>
		<p class='step__prose'>{{{doc.curate.bg}}}</p>
		<div class='step__fade'>
			<p class='step__prose'>{{{doc.curate.nav}}}</p>
			<nav class='curate__nav' role='group'>
					{{#each doc.categories}}
					{{#if curate}}
					<div class='choice'><button class='cat-{{id}}' data-id='{{id}}'>{{label}}</button></div>
					{{/if}}
					{{/each}}
			</nav>
			<p class='step__note'>{{{doc.curate.note}}}</p>
		</div>
	</div>
</div>
