<figure class='explore__dots'></figure>

<h3 class='explore__title'>{{{doc.explore.title}}}</h3>

<nav class='explore__nav is-hidden'>
	
		<fieldset class='nav__choose'>
		<legend>{{{doc.explore.choose}}}</legend>

			<ul>
				{{#each doc.categories}}
				<li><input value='{{id}}' type='radio' name='{{id}}' id='radio{{@index}}'><label for='radio{{@index}}'>{{label}}</label></li>
				{{/each}}
			</ul>

	</fieldset>
	
	<button>{{{doc.explore.button}}}</button>
</nav>