<div class='globe__steps'>
	{{#each doc.globe-steps}}
	<div class='step' data-index='{{@index}}' data-step='{{step}}' data-lat='{{lat}}' data-lon='{{lon}}' data-tweet='{{tweet}}'
	 data-user='{{user}}' data-city='{{city}}' data-country='{{country}}'>
		<div class="destination-wrapper">
			<svg class="destination-plane" xmlns="http://www.w3.org/2000/svg" width="44" height="43" viewBox="0 0 44 43">
				<path d="M43.4799 21.4833C43.4799 21.0397 43.2966 20.6405 42.964 20.304C42.6313 19.97 42.1551 19.6934 41.5602 19.4612C40.3711 19.002 38.7005 18.7176 36.6993 18.5637C34.702 18.4071 32.3771 18.381 29.8882 18.4462C27.6239 12.9279 22.9496 1.73464 21.9059 0.837084C20.5166 -0.360506 18.925 0.0256542 17.8669 0.508344L21.6124 18.9081C16.7319 19.2942 11.8986 19.85 8.11141 20.3327C7.58438 18.5323 6.54462 15.1718 5.89886 14.4803C5.01175 13.5254 2.14168 13.5254 2.14168 13.5254L2.75484 21.0554C1.51939 21.2328 0.797168 21.3424 0.797168 21.3424L0.731597 21.3554L0.731597 21.4155L0.731597 21.5537L0.731597 21.6111L0.797168 21.6216C0.797168 21.6216 1.51939 21.7338 2.75484 21.9112L2.14168 29.4428C2.14168 29.4428 5.01174 29.4428 5.89886 28.4879C6.54463 27.7974 7.58699 24.4342 8.11402 22.6365C11.8895 23.1166 16.7032 23.6671 21.5681 24.0585L17.8669 42.2406C18.925 42.7207 20.5166 43.1094 21.9059 41.9144C22.9365 41.0247 27.5065 30.1029 29.7994 24.5203C32.3223 24.5856 34.6797 24.5621 36.6993 24.4055L36.7041 24.4055C38.7025 24.249 40.3724 23.9646 41.5602 23.5028C42.1551 23.2758 42.6313 22.9992 42.964 22.6652C43.2966 22.3286 43.4799 21.9294 43.4799 21.4833L43.4799 21.4833L43.4799 21.4833V21.4833Z" />
			</svg>
			<p class='step__destination'>Destination {{{@index}}}</p>
		</div>
		<h3 class='step__label'>{{{label}}}</h3>
		<p class='step__location'>{{{city}}}, {{{country}}}</p>
		<p class='step__prose'>{{{text}}}</p>
	</div>
	{{/each}}
</div>
